@charset "utf-8";

body{
	width:100%;
	font-family:"Tsukushi A Round Gothic Regular","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
}

p{
	color:#9E9D9D;
}

#wrapper{
	width:100%;
	margin:0 auto;
}

#contents{
	width:1200px;
	margin: 0 auto;
}

#containerTop{
	min-height: 1000px;
	background:url(../img_top/img_containerTop.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position: relative;
}

#containerTop #mainTitle{
	  -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
		font-size:50px;
		color:#FFFFFF;
	  position: absolute;
		top:25%;
	  right:50%;
		letter-spacing: 20px;
}

#navi{
	display: none;
	position:relative;
}

#navi ul{
	width:300px;
	height:150px;
	background-color:#FFFFFF;
	opacity: 0.6;
	position: absolute;
	right:0;
	top:20px;
}

#navi ul li{
	-webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
	float:right;
	line-height: 50px;
	color: #000000;
}

#concept{
	width:1200px;
	min-height:670px;
	margin-top:220px;
	-webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
	position: relative;
}

#concept #conceptImage{
	position: absolute;
	top:200px;
	left:0;
	z-index: 1;
}

#concept #conceptTitle{
	font-size: 35px;
	line-height:90px;
}

#concept #conceptPhrase{
	position: relative;
	margin:0px 10px 0 0;
	line-height:80px;
	font-size: 1.3em;
	z-index:2;
}

#concept #conceptPhrase .tume{
display: inline-block;
margin-top: -0.5em;
margin-bottom: 0.5em;
}

#play{
	margin-top:220px;
}

.title{
	-webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
	font-size: 35px;
	font-weight:100;
	color:#4D4D4D;
}

#play #playTitle{
	margin-left: 60px;
}

#boat{
	margin-top:180px;
	position:relative;
}

#boat #boatImg{
	float:left;
	margin-left:60px;
}

#boat #boatPhrase{
	text-align: right;
	position: absolute;
	top:60px;
	right:50px;
	font-size: 1.3em;
	line-height:40px;
	letter-spacing: 1.5px;
}

#boat #boatPhrase #phrase1{
	background: #FFFFFF;
}

.price{
	padding:12px;
	border: 1px solid #B9B9B9;
	font-size:0.8em;
	color:#707070;
}

#boat #boatPrice{
	position: absolute;
	text-align: right;
	right:50px;
	bottom:0px;
}

#bike{
	margin-top:280px;
	position: relative;
}

#bike #bikeImage{
	float:right;
	margin-right: 60px;
}

#bike #bikePhrase{
	position: absolute;
	top:100px;
	left:100px;
	font-size: 1.3em;
	line-height:40px;
	letter-spacing: 1.5px;
}

#bike #bikePrice{
	width:120px;
	text-align: center;
	position: absolute;
	left:100px;
	bottom:0;
}

#eat{
	margin-top: 220px;
	position: relative;
}

#eat #eatTitle{
	margin-left:1100px;
}

#eat #eatImage{
	margin-top:100px;
	margin-left: 180px;
}

#eat #eatPhrase{
	position: absolute;
	text-align: right;
	top:320px;
	right:60px;
	font-size: 1.3em;
	line-height:40px;
	letter-spacing: 1.5px;
}

#eat #eatPrice{
	width:100px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	right:60px;
	bottom:0;
}

#access{
	margin-top: 220px;
	position: relative;
}

#access #accessTitle{
	margin-left: 60px;
}

#access #accessPhrase{
	position: absolute;
	top:150px;
	left:300px;
	font-size: 1.3em;
	line-height:40px;
	letter-spacing: 1.5px;
}

#access #accessContents #process{
	text-align: center;
	margin-left:230px;
}

#access #accessContents h3{
	font-size: 1.3em;
	margin-left: 150px;
}

#access #accessContents #bus{
	margin:30px 60px 0 0;
	text-align: right;
}

#access #accessContents #bus a{
	text-decoration: none;
}

#view{
	margin-top: 220px;
}

#view #viewTitle{
	margin-left:1100px;
}

#view #swan{
	margin-top: -20px;
	position: relative
}

#view #swan #swanImage{
	float: left;
}

#view #swan #swanPhrase{
	font-size: 1.3em;
	line-height:50px;
	letter-spacing: 1.5px;
	position: absolute;
	top:60px;
	left:480px;
}

#view #flower{
	margin-top: 200px;
	position: relative;
}

#view #flower #flowerImage{
	float: right;
	margin-right: 60px;
}

#view #flower #flowerPhrase{
	font-size: 1.3em;
	line-height:50px;
	letter-spacing: 1.5px;
	position: absolute;
	top:70px;
	left:100px;
}

#view #granma{
	margin-top: 200px;
	position: relative
}

#view #granma #granmaImage{
	float:left;
}

#view #granma #granmaPhrase{
	text-align: right;
	font-size: 1.3em;
	line-height:50px;
	letter-spacing: 1.5px;
	position: absolute;
	top:100px;
	right:60px;
}

#view #granma #moreBtn{
	padding:12px;
	border: 1px solid #B9B9B9;
	font-size:0.8em;
	color:#707070;
	width: 50px;
	height: 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	right:60px;
}

#view #granma #moreBtn a{
	text-decoration: none;
	color: #333;
}

#contact{
	margin-top: 300px;
	min-height: 1000px;
	background:url(../img_top/img_contact.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	position:relative;
}

#contact #info{
	margin:0 auto;
	width:460px;
	height: 240px;
	background: #FFFFFF;
	padding:15px 5px 0 20px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#contact #contactTitle{
	padding-bottom:10px;
	background: #FFFFFF;
	position: absolute;
	top:-80px;
	left:60px;
}


#contact #info dl{
	color:#4d4d4d;
}

#contact dt{
	display: block;
	width:120px;
	clear:left;
	float:left;
	margin-top: 5px;
}

#contact dd{
	display: block;
	width:340px;
	float: left;
	margin-bottom: 10px;
	font-size: 1.3em;
}

#footer{
	margin:50px auto 15px;
	width:135px;
	min-height:200px;
}

#footer #blogBtn{
	padding-right: 10px;
	float: left;
	border-right:1px solid #333;
}

#footer #blogBtn a{
	text-decoration: none;
	color:#333;
}

#footer #instaBtn a{
	margin-left: 10px;
	text-decoration: none;
	color:#333;
}

.action{
	visibility:hidden;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:2s;
 -ms-animation-duration:2s;
 animation-duration:2s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: scale(1.1,1.1); }
 100% { opacity: 1;}
}
 
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: scale(1.1,1.1); -ms-transform:  scale(1.1,1.1); transform: scale(1.1,1.1); }
 100% { opacity: 1;}
}