body {
  width: 100%;
  font-family: "FOT-筑紫A丸ゴシック Std R";

p {
  color: #333333;
	}

.title {
  writing-mode: vertical-rl;
  font-size: 35px;
  font-weight: 100;
  color: #6f6f6f;
}

.price {
  padding: 12px 14px;
  border: 1px solid #B9B9B9;
  font-size: 0.8em;
  color: #b9b9b9;
}

.header {
  min-height: 100vh;
	width:100%;
  background-size: cover;
  position: relative;
	z-index:2;

.title--big {
  writing-mode: vertical-rl;
  font-size: 55px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -70px;
  letter-spacing: 30px;
	min-height: 511px;
 }

&__scroll {
  text-decoration: none;
  color: #fff;
  font-size:0.6em;
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: translateX(50%);
  padding-top: 60px;

span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
	}

span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
	}
 }
}

.wrapper {
  width: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1;
	position: relative;

&__inner {
  width: 1200px;
  margin: 0 auto;

.navi{
  position: fixed;
  top: 0;
  right: 10%;
  transition: .3s;
	z-index:9998;

	ul {
  background-color: #FFFFFF;
  opacity: 0.6;
  padding: 25px 15px 40px;

	li {
  writing-mode: vertical-rl;
  float: right;
  line-height: 43px;
  color: #000000;

	a {
  text-decoration: none;
  color: #6F6F6F;
  transition: .3s;
	}
	}
 }
}

.concept {
	width:100%;
  min-height: 772px;
  padding-top: 220px;
  writing-mode: vertical-rl;
  position: relative;

&__image--1 {
	 width:705px;
	 height:466px;
	position: absolute;
	left:0;
	top:525px;
}

&__title {
  font-size: 35px;
  position: relative;
  z-index: 2;

&--2{
  font-size: 35px;
  line-height:122px;
	}
}

&__phrase {
  position: relative;
  line-height: 80px;
  font-size: 1.3em;
  z-index: 2;

.mura_tume {
  display: inline-block;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
	}
 }
}

.play {
  margin-top: 320px;

.boat {
  margin-top: 180px;
  position: relative;

&__img {
  float: left;
  margin-left: 60px;
}

&__phrase {
  text-align: right;
  position: absolute;
  top: 60px;
  right: 50px;
  font-size: 1.3em;
  line-height: 40px;
  letter-spacing: 1.5px;

.boat__phrase--1 {
  background: #FFFFFF;
	}
}

&__price {
  position: absolute;
  text-align: right;
  right: 50px;
  bottom: 0px;

&_tume{
	margin-right:37px;
	}
 }
}

.bike {
  margin-top: 280px;
  position: relative;

&__image {
  float: right;
  margin-right: 60px;
}

&__phrase {
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 1.3em;
  line-height: 40px;
  letter-spacing: 1.5px;
}

&__price {
  position: absolute;
  left: 100px;
  bottom: 0;

.futari_tume{
	margin-left: -7px;
	margin-right: -7px;
   }
	}
 }
}

.eat {
  margin-top: 220px;
  position: relative;

&__title {
  margin-left: 1100px;
}

&__image {
  margin-top: 100px;
  margin-left: 180px;
}

&__phrase {
  position: absolute;
  text-align: right;
  top: 320px;
  right: 60px;
  font-size: 1.3em;
  line-height: 40px;
  letter-spacing: 1.5px;
}

&__price {
  line-height: 20px;
  position: absolute;
  right: 60px;
  bottom: 0;

.natsu_tume{
	margin-left:-8px;
  }
 }
}

.access {
  margin-top: 220px;
  position: relative;

&__title {
  margin-left: 60px;
}

&__phrase {
  position: absolute;
  top: 150px;
  left: 300px;
  font-size: 1.3em;
  line-height: 40px;
  letter-spacing: 1.5px;
}

&__img {
  text-align: center;
  margin-left: 230px;
}

&__link {
  margin: 30px 60px 0 0;
  text-align: right;

a {
  text-decoration: none;
  color:#b9b9b9;
  position:relative;
  display:inline-block;
}

a:before{
	position:absolute;
	top:1.5em;
	left:0;
	content:"";
	display:inline-block;
	width:0;
	height:1px;
	background:#b9b9b9;
	transition:1s;
	}

a:hover:before{
  	width:100%;
}

a:visited {
  text-decoration: none;
  color:#9FCDD8;
   }
	}
}

.sight {
  margin-top: 220px;

&__title {
  margin-left: 1100px;
}

&__swan {
  margin-top: -20px;
  position: relative;

.swan__image {
  float: left;
}

.swan__phrase {
  font-size: 1.3em;
  line-height: 50px;
  letter-spacing: 1.5px;
  position: absolute;
  top: 60px;
  left: 480px;
	}
}

.flower {
  margin-top: 200px;
  position: relative;

&__image {
  float: right;
  margin-right: 60px;
}

&__phrase {
  font-size: 1.3em;
  line-height: 50px;
  letter-spacing: 1.5px;
  position: absolute;
  top: 70px;
  left: 100px;
 }
}

.granma {
  margin-top: 200px;
  position: relative;

&__image {
  float: left;
}

&__phrase {
  text-align: right;
  font-size: 1.3em;
  line-height: 50px;
  letter-spacing: 1.5px;
  position: absolute;
  top: 100px;
  right: 60px;

.granma_tume{
 	margin-right:-12px;
 }
}

.moreBtn {
  padding: 10px 14px;
  border: 1px solid #B9B9B9;
  font-size: 0.8em;
  color: #B9B9B9;
  text-align: center;
  margin-top: 370px;
  margin-left: 464px;
  text-decoration: none;
  display: inline-block;
  position: relative;

.under {
  display: inline-block;
  position: relative;
}

#under:before {
	width: 100%;
  position: absolute;
  top: 1.3em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background: #b9b9b9;
  transition: 0.5s;
		}
	 }
	}
 }

.contact__title {
  padding-bottom: 10px;
  background: #FFFFFF;
  margin-top: 220px;
  position: relative;
  z-index: 1;
  width: 51.5px;
}
}

.contact {
  min-height: 1000px;
  background: url(../../assets/images/index/img_contact.png) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  margin-top: -60px;

&__info dl {
  color: #6F6F6F;
  background: #FFFFFF;
  margin: 0 auto;
  width: 404px;
  height: 193px;
  padding:40px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

dt {
  display: block;
  width: 120px;
  clear: left;
  float: left;
	font-size: 1.1em;
}

dd {
  display: block;
  width: 284px;
  float: left;
  margin-bottom: 10px;
	font-size: 1.1em;
}

&__sns{
	width:135px;
	position:absolute;
  bottom:20px;
	left:50%;
	transform:translateX(-50%);
}

.btn__blog {
  padding-right: 10px;
  float: left;
  border-right: 0.5px solid #333;

a {
  text-decoration: none;
  color: #6F6F6F;
 }
}

.btn__insta a {
  margin-left: 10px;
  text-decoration: none;
  color: #6F6F6F;
 }
}



.fadeInDown {
  animation-fill-mode: both;
  animation-duration: 1.5s;
  animation-name: fadeInDown;
  visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
  }
}
}
}

/*==================
レスポンシブ用
====================*/

@media screen and (max-width:768px){

	body{

	.title{
		font-size:1.1em;
		}

	.backWhite{
		background: #fff;
		padding-left: 5px;
	}

	.price{
		padding:0;
		border:none;
		background:none;
	}

	.bg_white{
		padding:2px 5px;
		background:#fff;
	}

	.header{
		width:100%;

	.title--big{
		font-size: 1.9em;
		letter-spacing: 0.7em;
		min-height: 310px;
		}
	}

	.wrapper{
	&__inner{
		width: 100%;

	.navi{
		ul{
		li{
			line-height: 2.2em;
		a{
			font-size:0.9em;
			}
		 }
		}
	}

	.concept{
		padding-top: 50px;
		min-height: 337px;
		position:relative;

	&__title{
		font-size: 1.1em;
  }
	&__title--2{
		line-height:2em;
    font-size: 1.0em;
	 }


	&__phrase{
		font-size:0.7em;
		line-height: 3.0em;
		margin-right: 10px;
	}

	&__image--1{
		position: absolute;
		width: 282px;
		height: auto;
		top: 203px;
		left: 5px;
	 }
	}

	.play{
		margin-top: 65px;

	&__title,
	.eat__title{
		letter-spacing: 0.3em;
	}

  &__title{
    margin-left: 50px;
  }

	.boat{
		&__img{
		position: static;

		img{
	    width: 295px;
    	height: auto;
    	position: absolute;
    	left: 10px;
    	bottom: -117px;
			}
		}

	&__phrase{
		font-size:0.7em;
		line-height: 3.0em;
		top:-130px;
		right: 0;
	}

	&__price{
		position: absolute;
		bottom: -117px;
		right:0;
		opacity: 0.5;
		line-height:20px;

		.boat_tume{
		margin-right:23px;
		}
	 }
	}

	.boat__price p,
	.bike__price p,
	.eat__price p{
		font-size: 0.5em
	}

	.bike{
	&__image{
		position: static;
	img{
	  width: 295px;
   	height: auto;
   	position: absolute;
   	right: 10px;
   	bottom: -325px;
		}
	}

	&__phrase{
		font-size:0.7em;
		line-height: 3.0em;
		top:143px;
		left: 10px;
		letter-spacing: 0.5px;
	}

	&__price{
		position: absolute;
		bottom: -325px;
		left:10px;
		opacity: 0.5;
		padding: 12px 8px;
		line-height:20px;

		.futari_tume{
		margin-left:-2px;
		padding-right:0;
		}
	}
	}
	}

	.eat{
		margin-top:803px;
		height:178px;

	&__title{
		position:absolute;
		right: 50px;
		top:-140px;
	}

	&__image{
		position: static;

	img{
		width:295px;
		height:auto;
		position: absolute;
		left:25px;
		top:-25px;
	}
	}

	&__phrase{
		font-size:0.7em;
		line-height: 3.0em;
		top:15px;
		right: 10px;
	}

	&__price{
		position: absolute;
		height:35px;
		top:142px;
		right: 4px;

  p{
    font-size: 0.5em;

	.natsu_tume{
		padding:3px 0;
		margin-left: 0px;
	  }
  }
	 }
	}

	.access{
		margin-top: 65px;
		width: 100%;

	&__phrase{
		position: absolute;
		width:227px;
		top: 127px;
    	left: 53%;
		transform: translateX(-50%);

	.br::before{
		content: "\A" ;
		white-space: pre ;
		}

	p{
		font-size: 0.5em;
		line-height: 2.0em;
	 }
	}

	&__img{
		margin-left: 0;

	img{
		width: 100%;
		height: auto;
		margin-left: 39px;
  		margin-top: 80px;
		}
	}

	&__link{
		position: absolute;
		right:-50px;

	a{
		font-size: 0.5em
	}
	}
	}

	.sight{
		width:100%;
		position:relative;

	&__title{
		position: absolute;
    	right: 50px;
    	top: -76px;
	}

	.swan__image img{
		width:295px;
		height:auto;
		margin: 110px 0 0 15px;
		}

	.swan__phrase,
	.flower__phrase,
	.granma__phrase {
		font-size:0.5em;
		line-height:3em;
	}

	.swan__phrase{
	  position: absolute;
    top: 150px;
  	left: 142px;
	}

	.flower{
		margin-top:100px;

	&__image{
		margin-right:10px;

	img{
		width:295px;
		height:auto;
		}
	 }

	&__phrase{
		z-index:5;
		top: 47px;
    	left: 25px;
	}
	}

	.granma {
		margin-top:100px;

	&__image{
	   margin-left:10px;

	img{
		width:295px;
		height:auto;
		}
	}

	&__phrase {
		top: 42px;
    	right: 10px;
	}

	.moreBtn{
	  padding: 7px 10px;
		position: absolute;
		background: #fff;
		top: -192px;
		right: 5px;
		font-size: 0.5em;
		}
	 }
	}

	.contact__title {
	 	margin: 100px 0 0 60px;
		padding-bottom: 5px;
    width: 28px;
	}
	}

	.contact{
		width:100%;
    min-height: 400px;

	&__sns{
		width:92px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__info dl {
		width:168px;
		height: 111px;
		padding: 10px 20px;
	}

	dt {
    width: 40px;
		font-size:0.5em;
	}

	dd {
    width: 128px;
		font-size:0.5em;
    margin-bottom: 0.2em;
	}

	&__sns{
	.btn__blog a,
	.btn__insta a{
		font-size:0.5em;
	}

	.btn__blog{
		border:none;
		padding: 0;

	a{
		padding-right: 10px;
		border-right:1px solid #b9b9b9;
	 }
	 }
	}
 }
}
}
}
/*==================
初期化の設定
====================*/
/*ベースの要素の設定をリセット*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
p,article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/*HTML5の新要素をdisplay:blockにする*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

/*画像の枠線をクリアして位置の初期値の設定*/
img{
  border:0;
  vertical-align: top;
}

/*リンク時の枠の点線をなしにする*/
a{
  outline: none;
}

/*リスト要素の初期値をリセット*/
ul,ol{
  list-style: none;
}

/*右マージンの設定*/
.mRight20{
  margin-right:20px;
}

/*clearfixの設定*/
.clearfix:after{
  visibility:hidden;/*見えなくする*/
  height:0;/*見えなくする*/
  display: block;/*block要素にする*/
  font-size: 0;
  content: " ";
  clear: both;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@charset "UTF-8";
/* CSS Document */

/*==================
初期化の設定
====================*/
/*ベースの要素の設定をリセット*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
p,article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/*HTML5の新要素をdisplay:blockにする*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

/*画像の枠線をクリアして位置の初期値の設定*/
img{
  border:0;
  vertical-align: top;
}

/*リンク時の枠の点線をなしにする*/
a{
  outline: none;
}

/*リスト要素の初期値をリセット*/
ul,ol{
  list-style: none;
}

/*右マージンの設定*/
.mRight20{
  margin-right:20px;
}

/*clearfixの設定*/
.clearfix:after{
  visibility:hidden;/*見えなくする*/
  height:0;/*見えなくする*/
  display: block;/*block要素にする*/
  font-size: 0;
  content: " ";
  clear: both;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
